<table class="table table-striped table-bordered table-condensed">
  <tbody>
  <tr>
    <td><b>First name: </b> <%= @first %></td>
  </tr>
  <tr>
    <td><b>Last name: </b> <%= @last %></td>
  </tr>
  <tr>
    <td><b>Email: </b> <%= @owner %></td>
  </tr>
   <tr>
    <td><b>Status: </b> <%= @status %></td>
  </tr>
  </tbody>
</table>