Welcome to Ciao Oplink management portal!
<br>
<div id="slider" class="nivoSlider">
    <%= image_tag("oplink.png") %>
    <%= image_tag("ciao.jpg") %>
</div>
</div>
<%= javascript_include_tag "jquery-1.9.0.min" %>
<%= javascript_include_tag "jquery.nivo.slider" %>
<script type="text/javascript">
  $(window).load(function() {
    $('#slider').nivoSlider();
  });
</script>