/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
th .asc { 
  /*background-image: url('/assets/up_arrow.png'); */
}

th .desc { 
  /*background-image: url('/assets/down_arrow.jpg'); */
}

body {
	background-color: #FFFF99;
	/*color: #000;*/
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	padding-left: 5px;
}

.navbar .navbar-inner {
  padding-left: 5px;
  background-color: red; /* it's flat*/
  background-image: none;
}

.navbar-inner {
	height:60px;
	font-size:22px;
	text-decoration:underline;
}

a.navbar-link {
  color: blue;
}

.navbar-link:hover {
  position:center;
  text-decoration: underline;
}

.navbar-inner .container .nav-collapse ul{
  padding-top:15px;
  display:always;
}
input {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}

.status{
	margin-top: 65px;
	padding-left: 700px;
	text-align: center;
	color: green;
}

#login {
	margin: 50px auto;
	width: 400px;
}

#login h2 {
	background-color: #f95252;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	color: #fff;
	font-size: 20px;
	text-align:center;
	padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#login fieldset {
	background-color: #808080;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	margin-top: 10px;
	padding: 20px 26px;
}

#login fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#login fieldset input[type="email"], #login fieldset input[type="password"] {
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}

#login fieldset input[type="submit"] {
	background-color: #33cc77;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 100px;
}

#login fieldset input[type="submit"]:hover {
	background-color: #28ad63;
}

table {
	border-collapse: collapse;
	margin-top: 30px;
	text-align: center;
	background-size: 200px;
}
th {
	font-size: 1.5rem;
	font-weight: 300;
	text-decoration: underline;
}
th, td {
	padding:5px;
	text-align: left;
	background-color:#CCFFFF;
}
table, th, td {
	border: 1px solid black;
}
.list a {
	color: #600;
}
.list a:hover {
	text-decoration: underline;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/app/assets/images/up_arrow.png);
}

.pretty th .desc {
  background-image: url(/app/assets/images/down_arrow.jpg);
}.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/app/assets/images/up_arrow.png);
}

.pretty th .desc {
  background-image: url(/app/assets/images/down_arrow.jpg);
}

.notice {
	font-size: 1.0rem;
	font-weight: bold;
	color: green;
}
.error {
	text-transform: lowercase;
	font-size: 1.0rem;
	color: red;
	margin: auto;
	text-align: center;
	margin-bottom: -10px;
}

#footer {
	width: 600px;
	margin: 0px auto;
	padding: 3px 0px 0px 0px;
	height: 50px;
}

#footer p {
	margin: 0px;
	padding-top: 15px;
	text-align: center;
	font-size: 11px;
	color: #999999;
}